In [2]:
%load_ext autoreload
%autoreload 2

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
from helpers import (
    filter_region_year,
)

In [5]:
import locale
from pandas.tseries.offsets import MonthEnd

locale.setlocale(locale.LC_ALL, "sl_SI.utf8")
WIDE_PATH = Path("podatki/wide_df.csv")

df = pd.read_csv(WIDE_PATH,parse_dates=['Datum'])

so2 = filter_region_year(df,"SO2")
so2.dropna(inplace=True)

so2

                  Regija      Datum    SO2
0              Savinjska 1997-01-31   72.0
1               Zasavska 1997-01-31  196.0
2              Savinjska 1997-01-31   66.0
3               Posavska 1997-01-31   41.0
4                Koroška 1997-01-31   71.0
...                  ...        ...    ...
10710          Savinjska 2023-12-31    3.0
10711          Savinjska 2023-12-31    5.0
10712  Osrednjeslovenska 2023-12-31    4.0
10713           Zasavska 2023-12-31    0.0
10714          Savinjska 2023-12-31    6.0

[6206 rows x 3 columns]